@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: black;
	background-color: white;
	text-align: center;
}

#title-container {
	margin: 4rem 0;
}

#main-container {
	width: 90%;
	margin: 0 auto 4rem;
}

h3 {
	font-size: 20px;
}

fieldset {
  max-width: 600px;
  padding: 1rem 1.5rem 1.5rem;
  margin: auto;
  border: 2px solid grey;
}

form h3 {
  margin: 0;
}

label {
  font-size: 18px;
  margin-right: 1rem;
}

input[type=text] {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  width: 300px;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 2px;
}

input[type=submit] {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 2px;
}

p {
	font-size: 18px;
}

code {
	font-family: monospace;
	font-size: 18px;
  padding: 5px;
	line-height: 2;
  color: black;
  background-color: lightgrey;
}

a {
	color: #2574A9;
	font-size: 18px;
}

.exemple-link {
	line-height: 1.8;
}